body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

input[type="file"] {
    margin: 20px;
}

.encounter {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1e1e1e;
}

.player {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2c2c2c;
}

h2, h3 {
    margin: 0;
    padding: 5px 0;
}

.resistance {
    margin: 5px 0;
}

.item {
    display: flex;
    align-items: center;
}

.item img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.item-link {
    color: #00aaff;
    text-decoration: none;
}
